APP_UID=1000
APP_GID=1000
HTTPS_PORT=9443
CERT_FULLCHAIN_PATH=./certs/fullchain.crt
CERT_KEY_PATH=./certs/private.key
APP_RETENTION_DAYS=30
# Optional basic auth gate for all app routes (leave empty to disable)
APP_BASIC_AUTH_USER=
APP_BASIC_AUTH_PASS=
